.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    height: 50vh;
    width: 30vw;
    background-color: white;
    border-radius: 5px;
    padding: 20px 6rem;
    box-shadow: 15px 5px 35px #3c3b3b;
}
input{
    border: 1px solid black;
}
form>h4{
    text-align: center;
    font-size: 1.8rem;
}
.TCondi{
    font-size: 0.7rem;
}
a{
    text-decoration: none;
}

.btnContainer{
    display: flex;
    justify-content: center;
}
.btnContainer>button{
    width: 10rem;
}