.common-modal{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.student-form{
    min-height: 200px;
    width: 45%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.s-form{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    /* column-gap: 20px; */
    justify-content: space-between;
}

.s-form > input{
    width: 45%;
    border: 1px solid grey;
    outline: none;
    padding: 5px 10px;
}
.close-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.actions{
    display: flex;
    column-gap: 20px;
}

.actions i{
    cursor: pointer;
}

.actions i:first-child{
    color: green;
}

.actions i:last-child{
    color: red;
}







/* /// login file css */

.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    padding: 0px !important;
    margin: 0px !important;
}

.login-form{
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    width: 25%;
}



/* // exam page css */
.exam{
    height: 100vh;
    /* background-color: black; */
    flex-direction: column;
    padding: 10px;
}

.top-container{
    height: 17vh;
    
    /* background-color: grey; */
    border: 1px solid white;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /* align-items: center; */
    padding: 10px;
    border: 1px solid black;
}

.header-menu{
    
    display: flex;
    column-gap: 20px;
}

.header-menu > img{
    width: 80px;
    border-radius: 10px;
}

.bottom-container{
    height: 78vh;
    /* background-color: grey; */
    border: 1px solid white;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    column-gap: 2%;
    border: 1px solid black;
}

.bottom-left-container{
    width: 30%;
    /* background-color: red; */
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

.bottom-right-container{
    width: 68%;
    /* background-color: green; */
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
}

.qu-box{
    height: 200px;
    /* background-color: blue; */
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    
}

.qNo{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
}

.summery{
    padding: 10px;
}

.options{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.inp{
    display: flex;
    column-gap: 20px;
}

.buttons{
    position: fixed;
    bottom: 10%;
    left: 36%;
    display: flex;
    column-gap: 30px;
}